server:
  port: 8080

spring:
  application:
    name: locapet-app-api

  datasource:
    url: jdbc:mysql://localhost:3306/locapet?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  data:
    redis:
      host: localhost
      port: 6379

springdoc:
  swagger-ui:
    path: /api-app.html       # 접속 주소를 내가 원하는 대로 변경 (기본값은 /swagger-ui.html)
    groups-order: DESC         # 그룹 정렬 순서
    operations-sorter: alpha   # API 목록을 알파벳 순으로 정렬 (method 아님)
    disable-swagger-default-url: true # 기본 petstore URL 비활성화
    display-request-duration: true # API 요청 걸린 시간 표시 (성능 체크용)
  api-docs:
    path: /api-docs            # JSON 데이터가 나오는 경로
  show-actuator: true          # (선택) Actuator 정보도 보고 싶다면
  default-consumes-media-type: application/json
  default-produces-media-type: application/json