server:
  port: 8080

spring:
  application:
    name: locapet-app-api

  datasource:
    url: jdbc:postgresql://localhost:5432/locapet
    username: root
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  data:
    redis:
      host: localhost
      port: 6379

springdoc:
  swagger-ui:
    path: /api-app.html       # 접속 주소를 내가 원하는 대로 변경 (기본값은 /swagger-ui.html)
    groups-order: DESC         # 그룹 정렬 순서
    operations-sorter: alpha   # API 목록을 알파벳 순으로 정렬 (method 아님)
    disable-swagger-default-url: true # 기본 petstore URL 비활성화
    display-request-duration: true # API 요청 걸린 시간 표시 (성능 체크용)
  api-docs:
    path: /api-docs            # JSON 데이터가 나오는 경로
  show-actuator: true          # (선택) Actuator 정보도 보고 싶다면
  default-consumes-media-type: application/json
  default-produces-media-type: application/json

app:
  auth:
    jwt:
      secret: "locapet-jwt-secret-key-must-be-at-least-32-characters-long"
      access-token-expiry: 1800000
      refresh-token-expiry: 1209600000
      temporary-token-expiry: 600000
    social:
      kakao:
        user-info-url: "https://kapi.kakao.com/v2/user/me"
      naver:
        user-info-url: "https://openapi.naver.com/v1/nid/me"
      google:
        token-info-url: "https://oauth2.googleapis.com/tokeninfo"
        client-id: "your-google-client-id"
      apple:
        public-keys-url: "https://appleid.apple.com/auth/keys"
        client-id: "com.vivire.locapet"
  meta:
    store-urls:
      app-store: "https://apps.apple.com/app/locapet/id123456789"
      play-store: "https://play.google.com/store/apps/details?id=com.vivire.locapet"
    base-url:
      api: "https://api.locapet.com"
    policies:
      terms-of-service: "https://locapet.com/terms"
      privacy-policy: "https://locapet.com/privacy"