server:
  port: 8081

spring:
  application:
    name: locapet-admin-api

  datasource:
    url: jdbc:postgresql://localhost:5432/locapet
    username: root
    password: password
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-init-sql: SET TIME ZONE 'UTC'

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC

  jackson:
    time-zone: UTC
    serialization:
      write-dates-as-timestamps: false

  data:
    redis:
      host: localhost
      port: 6379
